/.venv/
/__pycache__/
build/
dist/
*.spec
*.pyc
*.pyo
*.egg-info/
.install
.pytest_cache/
.tox/
.coverage
coverage.xml
htmlcov/
nosetests.xml
.hypothesis/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.ipynb_checkpoints/*.ipynb
